@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
  --lego-yellow: #ccf000;
  --lego-purple: #663399;
  --lego-lime: #d4ff00;
  --lego-white: #ffffff;
  --lego-button-red: #ff0000;
  --lego-button-blue: #007bff;
}

body {
  background-image: url('./images/lego-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}











